<div class="">
  <p class="text-xl font-bold underline decoration-blue-600 pl-5">Basic Tutorials</p>
  <ul class="list-decimal pl-10">
    <li><a routerLink="/tutorials/install-intellij-java-2022" class="text-blue-500 font-bold underline">How to install IntelliJ for Java Development</a></li>

    <li><a routerLink="/tutorials/what-is-java" class="text-blue-500 font-bold underline">What is Java?</a></li>

 </ul>
</div>

<div class="">
  <p class="text-xl font-bold underline decoration-blue-600 pl-5">Basic Java Tutorials</p>
  <ul class="list-decimal pl-10">
    <li><a routerLink="/tutorials/first-java-application" class="text-blue-500 font-bold underline">Your first Java Application</a></li>

 </ul>
</div>

<div class="">
  <p class="text-xl font-bold underline decoration-blue-600 pl-5">Advanced Java Tutorials</p>
  <ul class="list-decimal pl-10">
    <li><a routerLink="/tutorials/first-java-application" class="text-blue-500 font-bold underline">Generics in Java</a></li>

 </ul>
</div>

<div class="">
  <p class="text-xl font-bold underline decoration-blue-600 pl-5">Java Spring Tutorials</p>
  <ul class="list-decimal pl-10">

 </ul>
</div>

<div class="">
<p class="text-xl font-bold underline decoration-blue-600 pl-5">Basic CSS/HTML Tutorials</p>
<ul class="list-decimal pl-10">
  <li><a routerLink="/tutorials/how-to-link-css-file-in-html" class="text-blue-500 font-bold underline">How to link CSS file in HTML</a></li>

</ul>
</div>

<div class="">
<p class="text-xl font-bold underline decoration-blue-600 pl-5">Angular Tutorials</p>
<ul class="list-decimal pl-10">

</ul>
</div>
