@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import "prismjs/themes/prism.css";

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Default Font */
@font-face {
  font-family: OCRA;
  src: url("../assets/fonts/mainfont/ocr-aregular.ttf");
  font-weight: 400;
  font-style: normal;
}

.custom-font {
	font-family: OCRA, Helvetica;
}

*,
::before,
::after {
  border-width: 0;
  border-style: solid;
  border-color: theme('borderColor.DEFAULT', currentColor);
}
img{
  display: inline-block;
}

body {
  background-color: #2F323A;
}


